; begin auth token
//pkgs.dev.azure.com/7PeaksWebTeam/_packaging/ReactComponents/npm/registry/:username=7PeaksWebTeam
//pkgs.dev.azure.com/7PeaksWebTeam/_packaging/ReactComponents/npm/registry/:_password=NndtaXZkaXB5c2U1NWRzYWw1aDdob3A3c2twcjI2bmhzdHNxcHB4aTZ5a2tycXlrNjY0YQ==
//pkgs.dev.azure.com/7PeaksWebTeam/_packaging/ReactComponents/npm/registry/:email=frontendteam@7peakssoftware.com
//pkgs.dev.azure.com/7PeaksWebTeam/_packaging/ReactComponents/npm/:username=7PeaksWebTeam
//pkgs.dev.azure.com/7PeaksWebTeam/_packaging/ReactComponents/npm/:_password=NndtaXZkaXB5c2U1NWRzYWw1aDdob3A3c2twcjI2bmhzdHNxcHB4aTZ5a2tycXlrNjY0YQ==
//pkgs.dev.azure.com/7PeaksWebTeam/_packaging/ReactComponents/npm/:email=frontendteam@7peakssoftware.com
; end auth token

